.products-container-wrapper { 
  display: flex; 
  flex-direction: row;  
  flex-wrap: wrap; 
 
/* lenght styles */
  width: 100%; 
  height: auto; 
}

.box-card {  
 width: 20%;  
 height: 250px;
 background-color: #fff;
 border-radius: 10px;  
 box-shadow: 0px 10px 5px #b2bec3; 
 margin: 20px;
}

@media (max-width: 1200px) { 
 
  .box-card { 
   width: 30%;  
  }

}

 .loader-spin { 
  margin: 0;
  position: absolute;
  top: 650px;
  left: 50%;
 -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 }

@media (max-width: 480px) { 
 
    .product-container-wrapper { 
     overflow: hidden;
    } 

    .box-card { 
      width: 100% !important;
    } 

    .loader-spin { 
      margin: 0;
      position: absolute;
      top: 54%;
      left: 50%;
     -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
} 

